.checkBox{
   display:flex;
   align-items: center;
   justify-content: center;
   width: 20rem;
  
}
 
 .text{
    color:white;
    font-size:13px;
    text-align: center;
    width:100%;
    margin:1rem 0
 }
input.smallBox{
   width:5%;
   height: 45px;
 
   
}